<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: headTag">
</head>
<body>
<div class="container">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <div class="col-sm-9">
            <form th:action="@{/changePassword}" method="post" class="form-horizontal">
                <fieldset>
                    <legend>Change password</legend>
                    <div class="form-group">
                        <label for="newPassword" class="col-sm-4 control-label">New password</label>

                        <div class="col-sm-8">
                            <input type="password" id="newPassword" name="newPassword"
                                   th:value="*{passwordData.newPassword}" class="form-control"
                                   placeholder="New password"/>

                            <p th:if="${#fields.hasErrors('passwordData.newPassword')}"
                               th:errors="*{passwordData.newPassword}" class="error"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPasswordRepeated" class="col-sm-4 control-label">New password repeated</label>

                        <div class="col-sm-8">
                            <input type="password" id="newPasswordRepeated" name="newPasswordRepeated"
                                   th:value="*{passwordData.newPasswordRepeated}" class="form-control"
                                   placeholder="New password repeated"/>

                            <p th:if="${#fields.hasErrors('passwordData.newPasswordRepeated')}"
                               th:errors="*{passwordData.newPasswordRepeated}" class="error"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <input type="submit" value="Save" class="btn btn-primary"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>