<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: headTag">
</head>
<body>
<div class="container">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <div class="col-sm-9">
            <div th:if="${accessDenied}" class="col-sm-12 alert alert-danger fade in">
                <a class="close" th:href="@{/}" aria-hidden="true">&times;</a>
                You are not allowed to perform this operation.
            </div>

            <h3>HyperHypervisors</h3>
        </div>
    </div>
</div>
</body>
</html>