<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: headTag">
</head>
<body>
<div class="container">
    <script>
        window.onload = function () {
            document.f.j_username.focus();
        }
    </script>

    <div class="well col-sm-4 col-sm-offset-4">
        <div th:if="${loginError}" class="alert alert-danger">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>

            <p>Your login attempt was not successful due to error:</p>

            <p th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></p>

            <p>Please, try again.</p>
        </div>

        <form name="f" method="post" th:action="@{/j_spring_security_check}" class="form-horizontal">
            <fieldset>
                <legend>Log in</legend>
                <div class="form-group">
                    <label for="login" class="col-sm-5 control-label">Login</label>

                    <div class="col-sm-7">
                        <input id="login" name="j_username" class="form-control"
                               placeholder="User name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-5 control-label">Password</label>

                    <div class="col-sm-7">
                        <input type="password" id="password" name="j_password" class="form-control"
                               placeholder="Password"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-7">
                        <input type="submit" value="Log in" class="btn btn-primary"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>