<h3><%= node.name %></h3>
<table class="table table-condensed table-responsive">
    <tr>
        <td>JMX port</td>
        <td><%= node.jmxPort %></td>
    </tr>
</table>

<div class="panel-group" id="apps-accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#apps-accordion" href="#apps-accordion-collapse">
                    Applications
                </a>
            </h4>
        </div>
        <div id="apps-accordion-collapse" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-condensed table-responsive">
                    <% _.each(node.applications, function (app) { %>
                    <tr>
                        <td><%= app.name %></td>
                    </tr>
                    <% }); %>
                </table>
            </div>
        </div>
    </div>
</div>