<h3><%= node.name %></h3>
<table class="table table-condensed table-responsive">
    <tr>
        <td>IP address</td>
        <td><%= node.ipAddress %></td>
    </tr>
    <tr>
        <td>Agent port</td>
        <td><%= node.agentPort %></td>
    </tr>
</table>

<div class="panel-body">
    <a href="infrastructure/server/<%= node.id %>/new-ip-and-port" class="btn btn-primary">Set IP and port</a>
    <a class="btn btn-warning" onclick="addChild();">Add hypervisor</a>
    <a class="btn btn-danger" onclick="removeNode();">Remove</a>
</div>

<div class="panel-group" id="server-accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#server-accordion" href="#memory-accordion-collapse">
                    Memory usage
                </a>
            </h4>
        </div>
        <div id="memory-accordion-collapse" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-condensed table-responsive">
                    <tr>
                        <td>Total memory</td>
                        <td><%= description.memory.total %></td>
                    </tr>
                    <tr>
                        <td>Free memory</td>
                        <td><%= description.memory.free %></td>
                    </tr>
                    <tr>
                        <td>Actual free memory</td>
                        <td><%= description.memory.actualFree %></td>
                    </tr>
                    <tr>
                        <td>Used memory</td>
                        <td><%= description.memory.used %></td>
                    </tr>
                    <tr>
                        <td>Actual used memory</td>
                        <td><%= description.memory.actualUsed %></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <% _.each(description.cpus, function (cpu) { %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#server-accordion"
                   href="#cpu-accordion-collapse-<%= cpu.cpuIndex %>">
                    <%= cpu.cpuIndex %>: <%= cpu.vendor %> <%= cpu.model %>
                </a>
            </h4>
        </div>
        <div id="cpu-accordion-collapse-<%= cpu.cpuIndex %>" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-condensed table-responsive">
                    <tr>
                        <td>System time (%)</td>
                        <td><%= cpu.timeUsage.percentageTimeUsage.systemTime %></td>
                    </tr>
                    <tr>
                        <td>User time (%)</td>
                        <td><%= cpu.timeUsage.percentageTimeUsage.userTime %></td>
                    </tr>
                    <tr>
                        <td>Nice time (%)</td>
                        <td><%= cpu.timeUsage.percentageTimeUsage.niceTime %></td>
                    </tr>
                    <tr>
                        <td>Idle time (%)</td>
                        <td><%= cpu.timeUsage.percentageTimeUsage.idleTime %></td>
                    </tr>
                    <tr>
                        <td>Wait time (%)</td>
                        <td><%= cpu.timeUsage.percentageTimeUsage.waitTime %></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <% }); %>
</div>