<h3><%= node.name %></h3>
<table class="table table-condensed table-responsive">
    <tr>
        <td>IP address</td>
        <td><%= node.ipAddress %></td>
    </tr>
    <tr>
        <td>Operating system</td>
        <td><%= description.operationSystem %></td>
    </tr>
    <tr>
        <td>CPU count</td>
        <td><%= description.cpuCount %></td>
    </tr>
    <tr>
        <td>Memory size</td>
        <td><%= description.memorySize %></td>
    </tr>
    <tr>
        <td>Disk space</td>
        <td><%= description.diskSpace %></td>
    </tr>
</table>